@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{  /*Psuedo class that targets the html tag for global styling*/
    --accent-color: #2B8C64;    /*Considered Global variables within the root class*/
    --base-color: #ffffff;
    --text-color: #071c07;
    --input-color: #edf4ee;
}
*{  /*  * Selects all of the html elements*/
    margin: 0;  /*Clean starting point, displays elements in the top left corner*/
    padding: 0;
}
html{   /*The html here is described as a selector*/
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    color: var(--text-color);   /*This is the code that applies the value of the global variable in the root selector*/
    text-align: center;
}
body{
    min-height: 100vh;  /*vh = viewport height*/
    background-image: url("pexels-kunstbube-6818620 (1).jpg"); /*Image on the right hand side of the web page*/
    background-size: cover; /*Conveys the entire image*/
    background-position: left;
    overflow-x: hidden;   /*Specifies what should happen if content overflows an elements box. Makes it unscrollable*/
    display: flex;
    justify-content: center;
}
.wrapper {
    box-sizing: border-box; /*All borders and paddings are created inwards*/
    background-color: var(--base-color);    /*Avoids color conflict with the two global variables*/
    color: var(--text-color);
    height: 100vh;
    width: max(40%, 600px); /*Selects the biggest value of the two*/
    padding: 10px;
    border-radius: 20px 20px 20px 20px;
    display: flex;  /*Included so it adapts to different screen sizes*/
    flex-direction: column; /*Various lines are in a column format*/
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 3rem;    /*3 times the initial font size*/
    font-weight: 900;   /*Boldness of the font*/
    text-transform: uppercase;  /*toupper() in css basically*/
}
form{
    width: min(400px, 100%);    /*Always returns the smaller value of the 2 values*/
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
form > div{ /*Child selector that targets any div tag within a form tag*/
    width: 100%;
    display: flex;
    justify-content: center;
}
form label{
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: var(--accent-color);
    fill: var(--base-color);
    color: var(--base-color);
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
}
form input{
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    font: inherit;
    border-radius: 0 10px 10px 0;
    border: 2px solid var(--input-color);
    border-left: none;
    background-color: var(--input-color);
    transition: 150ms ease;
}
form input:hover{   /*Code is done when element gets hovered over*/
    border-color: var(--accent-color)
}
form input:focus{   /*Code is done when element gets interacted*/
    outline: none;
    border-color: var(--text-color);
}
form div:focus-within > label{
    background-color: var(--text-color);
}
form input::placeholder{
    color: var(--text-color);
}
form button{
    margin-top: 10px;
    border: none;
    border-radius: 1000px;
    padding: .85em 4em;
    background-color: var(--accent-color);
    color: var(--base-color);
    font: inherit;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 150ms ease;
}
form button:hover{
    background-color: var(--text-color);
}
form input:focus{
    outline: none;
    background-color: var(--input-color);
    color: var(--text-color);
}
a{
    text-decoration: none;
    color: var(--accent-color);
}
a:hover{
    text-decoration: underline;
}
@media(max-width:  1100px){
    .wrapper{
        width: min(600px,100%);
        border-radius: 0;
    }
}
form div.incorrect label{
    background-color: #aa010d
}
form div.incorrect input{
    border-color: #aa010d
}
#error_message{
    color: #aa010d;
}